.Controls {
  margin-top: 3rem;
}

.Controls .value {
  display: block;
  text-align: center;
  padding-right: 0.5rem;
  width: 100%;
  font-weight: bold;
  color: rgb(184, 17, 207);
}

.Controls .lamp {
  font-weight: bold;
  color: rgb(140, 67, 242);
}

.Controls .label {
  display: block;
  text-align: center;
  padding-right: 0.5rem;
  width: 100%;
  font-weight: bold;
  color: rgb(140, 67, 242);
}
