@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  font-size: 16px;
  margin: 0;
  background-color: #202020;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
