.button {
  background: rgb(97, 67, 242);
  color: white;
  border: 1px solid rgb(16, 15, 17);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-shadow: 0px 2px 3px rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 7rem;
  margin: 0.2rem 0.2rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.button:focus {
  outline: none;
}

.button:hover {
  background: rgb(140, 67, 242);
  border-color: #000;
}

.button:active {
  background: rgb(242, 67, 239);
  border-color: #000;
}

/* @media (min-width: 768px) {
  .button {
    width: 15%;
  }
} */
