.button {
  background: #69f0ae;
  color: Black;
  border: 1px solid rgb(16, 15, 17);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-shadow: 0rem 0.125rem 0.1875rem rgb(0, 0, 0);
  padding: 0.5rem 0.3rem;
  cursor: pointer;
  width: 8rem;
  margin: 0.2rem 0.2rem;
  border-radius: 0.3125rem;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
}

.button:focus {
  outline: none;
}

.button:hover {
  background: rgb(140, 67, 242);
  border-color: #000;
}

.button:active {
  background: rgb(242, 67, 239);
  border-color: #000;
}

@media (max-width: 768px) {
  .button {
    width: 100%;
    font-size: 1.1rem;
  }
}
